* {
  padding: 0px;
}

.logo {
  width: 20%;
  height: 8%;
}

.logo img {
  width: 60%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  margin-right: 15%;
  gap: 50px;
}

.navigationbar__menuburger {
  display: none;
}

.navigationbar a {
  text-decoration-line: none;
  color: black;
  font-size: 1em;
  padding: 10%;
}

.delivery {
  display: flex;
  flex-direction: column;
}
.delivery__preprocessing{
  display: flex;
  flex-direction: column; 
}
.delivery__preprocessing p{
  font-weight: bold;
}
.delivery img {
  width: 40%;
}
.delivery__onitsway{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery__onitsway p{
  font-weight: bold;
}
.delivery__delivered{
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}
.delivery__delivered p{
  font-weight: bold;
}
.delivery button{
  font-weight: bold;
  font-size: 100%;
}
.footerend {
  width: 100%;
  background-color: rgba(246, 246, 246, 0.87);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerend__left p {
  text-decoration: none;
  font-weight: bold;
}

.footerend__left li {
  list-style: none;
  cursor: pointer;
}

#footerend--left__customerservices {
  text-decoration: underline;
}

.right__text--footer {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

.right ul {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.right {
  width: 350px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.right button {
  background-color: rgba(207, 185, 153, 1);
  color: black;
  font-weight: bold;
  border-radius: 200px;
  border: none;
  height: 25px;
  cursor: pointer;
}
.right__text--footer .flesh {
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:600px){
  .navigationbar{
    display: none;
  }
  .logo{
    width:50%;
    height:20%;
  }
  .delivery {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
  }
  .delivery__preprocessing{
    align-items: flex-start;
  }
}