* {
  padding: 0px;
}

.logo {
  width: 20%;
  height: 8%;
}

.logo img {
  width: 60%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  margin-right: 15%;
  gap: 50px;
}

.navigationbar__menuburger {
  display: none;
}

.navigationbar a {
  text-decoration-line: none;
  color: black;
  font-size: 1em;
  padding: 10%;
}

.card--album {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--album__img {
  width: 60vh;
  height: 50%;
}

.card--album__img img {
  max-width: 96%;
  max-height: 100%;
}

.card--album__images {
  width: 7vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.card--album__images img {
  width: 100%;
  height: 19%;
}

.card--album__description {
  width: 70%;
  height: 70%;
  padding: 2%;
  margin-top: 8%;
}
.card--album__description h1{
  color:rgba(161, 138, 104, 1);
}

.choiceofcolor-img {
  width: 13%;
  height: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  border-color: black;
  margin-top: -1%;
}

.choiceofcolor-img input {
  border-radius: 200px;
  width: 100%;
  border: 1px solid black;
}

.card--album--price {
  height: 10%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.card--album--price__button {
  width: 60%;
  height: 100%;
  border-radius: 200px;
  border: none;
  background-color: rgba(207, 185, 153, 1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card--album--price__discount {
  text-decoration: line-through;
  color: rgba(207, 185, 153, 1);
  font-weight: bold;
}

.card--album__panier {
  height: 25%
}

.addtocard {
  height: 35%;
  width: 40%;
  border-radius: 200px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 185, 153, 1);
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(207, 185, 153, 1);
  cursor: pointer;
  margin-bottom: 2%;
}

.pic--addto {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pic--addto img {
  width: 40px;
  height: 100%;
}

.card-album--reviewsandshipping {
  display: flex;
  flex-direction: row;
}

.shipping-paragraph {
  font-weight: bold;
}

.shippinginfo__paragraph {
  margin-top: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 150px;
}

.reviewssection {
  width: 70%;
}

.reviews {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.reviews--reviewsplace__stars {
  height: 8%;
  width: 50%;
}

.reviews--reviewsplace__stars img {
  width: 15%;
  height: 45%;
}

.addreviews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}

.addreviews input {
  height: 15%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  border: none;
  background-color: rgba(246, 246, 246, 1);
}

.addreviews-previousones__profilpicture {
  background-color: rgba(246, 246, 246, 1);
  width: 98%;
  height: 50px;
  border-radius: 15px;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addreviews-previousones__profilpicture img {
  width: 10%;
  height: 100%;
  margin-right: 20px;
  border-radius: 50px;
}

.addreviews--showmore__showmore {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.recommendationcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productsrecommendation h {
  font-weight: bold;
}

.recommendationcards__product-card img {
  width: 70%;
  height: 80%;
}

.footerend {
  width: 100%;
  background-color: rgba(246, 246, 246, 0.87);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerend__left p {
  text-decoration: none;
  font-weight: bold;
}

.footerend__left li {
  list-style: none;
  cursor: pointer;
}

#footerend--left__customerservices {
  text-decoration: underline;
}

.right__text--footer {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

.right ul {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.right {
  width: 350px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.right button {
  background-color: rgba(207, 185, 153, 1);
  color: black;
  font-weight: bold;
  border-radius: 200px;
  border: none;
  height: 25px;
  cursor: pointer;
}

.right__text--footer .flesh {
  font-weight: bold;
  cursor: pointer;
}

@media(max-width:600px) {
  .logo{
    width:50%;
    height:20%;
  }
  .navigationbar {
    display: none;
  }

  .navigationbar__menuburger {
    display: inline-block;
  }

  .navigationbar__menuburger {
    display: inline;
  }

  .card--album {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .card--album__img {
    width: 90vw;
  }

  .card--album__images {
    height: 15%;
    width: 50%;
    margin-left: -190px;
    display: flex;
    flex-wrap: nowrap;
  }

  .card--album__images img {
    width: 40%;
    height: 94%;
  }

  .card--album__description {
    width: 95%;

  }

  .choiceofcolor-img {
    width: 15%;
    height: 10%;
  }

  .choiceofcolor-img input {
    width: 80%;
    height: 80%;
  }

  .card--album--price {
    width: 100%;
  }

  .card--album--price__button {
    width: 50%;
  }

  .card--album--price__discount {
    width: 50%;
    align-self: end;
  }

  .addtocard {
    width: 80%;
    height: 40%;
  }

  .card-album--reviewsandshipping {
    display: flex;
    flex-direction: column;
  }

  .reviewssection {
    margin-top: 70%;
    width: 100%;
    height: 120%;
  }

  .reviews {
    width: 80%
  }

  .addreviews {
    display: flex;
    gap: 9px;
  }

  .recommendationcards {
    display: flex;
    flex-wrap: nowrap;
    width: 300vw;
    margin-left:50px;
  }

  .recommendationcards .recommendationcards__product-card img {
    width: 70%;
    height: 100%;
  }
}