* {
    margin: 5px;
  }
  
  .logo {
    width: 150px;
    height: 30px;
  }
  
  #navbar1 {
    display: flex;
    justify-content: flex-end;
    list-style-type:none;
    margin-top: -50px;
  }
  
  .navbar {
    text-decoration: none;
    color: Black;
    margin-right: 60px;
  }
  